html,body{position:relative;height:100%;margin:0;padding:0;}
html,body,table,th,td,input,textarea,button,select{font-family:sans-serif;}
body{background-color:#f5f5f5;}
a,a:visited{color:#008dc7;text-decoration:none;}
a[disabled]{color:#999;cursor:not-allowed;}
div.splash{position:absolute;display:block;z-index:1000;background-color:#f5f5f5;color:#000;text-align:center;width:100%;top:50%;transform:translateY(-50%);cursor:wait;}
iframe.frame{display:block;box-sizing:border-box;border:3px solid red;margin:0;width:100%;height:100%;padding:1px;}
iframe.tk-same-origin{border:none;}
iframe.tk-frame-custom{}
h1.heading,h2.heading,h3.heading,h4.heading,h5.heading,h6.heading{font-weight:300;margin:0;padding-block-start:1rem;padding-block-end:1rem;padding-inline-start:0px;padding-inline-end:0px;}
h1.heading{font-size:2.48832rem;}
h2.heading{font-size:2.0736rem;}
h3.heading{font-size:1.728rem;}
h4.heading{font-size:1.44rem;}
h5.heading{font-size:1.2rem;}
h6.heading{font-size:1rem;}
h1.numbered,h2.numbered,h3.numbered,h4.numbered,h5.numbered,h6.numbered{font-size:1rem;font-weight:bold;}
table.number{background-color:initial;}
td.number-text{padding:0 0.5em 0 0;white-space:nowrap;vertical-align:top;line-height:1.55rem;border:0;}
td.text{padding:0;white-space:break-spaces;vertical-align:top;line-height:1.55rem;border:0;}
p.paragraph{font-family:sans-serif;font-size:1rem;font-weight:lighter;line-height:1.5rem;}
pre,pre.preformatted{display:block;padding:0.5rem;font-family:monospace;font-size:1rem;background-color:#e9e9e9;color:#008dc7;white-space:break-spaces;line-height:1.55rem;overflow:auto;}
li>pre.preformatted{display:inline;display:inline;border:0;padding:0;}
code{background-color:#e9e9e9;color:#008dc7;font-family:monospace;font-size:1rem;padding:0 0.25rem;border-radius:0.25rem;}
ul.list>li{line-height: 1.55rem;}
ul.tk-list-menu,ul.tk-list-inline-menu{display:inline-block;list-style:none;padding:0;background-color:#fff;}
ul.tk-list-vertical,ul.tk-list-horizontal,ul.tk-list-pills,ul.tk-list-pills-success,ul.tk-list-pills-info,ul.tk-list-pills-warning,ul.tk-list-pills-error{display:inline-block;list-style:none;margin-top:0;padding:0;background-color:transparent;}
ul.tk-list-menu>li,ul.tk-list-inline-menu>li,ul.tk-list-vertical>li,ul.tk-list-horizontal>li{margin:0;padding:0;line-height:2.15em;}
ul.tk-list-menu>li>*,ul.tk-list-inline-menu>li>*{margin:0;padding:0 1rem;}
ul.tk-list-vertical>li>*{margin-right:0;}
ul.tk-list-inline-menu>li,ul.tk-list-horizontal>li{display:inline-block;}
ul.tk-list-menu>li>*,ul.tk-list-inline-menu>li>*{padding:0.5rem 1rem;}
ul.tk-list-vertical>li>*,ul.tk-list-horizontal>li>*{}
ul.tk-list-menu>li>*:hover,ul.tk-list-inline-menu>li>*:hover{background-color:#efefef;}
ul.tk-list-pills>li,ul.tk-list-pills-success>li,ul.tk-list-pills-info>li,ul.tk-list-pills-warning>li,ul.tk-list-pills-error>li{display:inline-block;padding:0 1rem;background-color:#ddd;color:#666;margin-right:1rem;border-left:4px solid #ccc;}
ul.tk-list-pills-success>li{background-color:#109f5d;color:#fff;border-color:#156e45;}
ul.tk-list-pills-info>li{background-color:#48c9d6;color:#bff9ff;border-color:#2da1ac;}
ul.tk-list-pills-warning>li{background-color:#ffa307;color:#ffe3b2;border-color:#da8f10;}
ul.tk-list-pills-error>li{background-color:#e63e4e;color:#fcc3c8;border-color:#9a222d;}
p.tk-occur-first,pre.tk-occur-first{margin-top:0;}
form{padding:1px;}
label.label{display:inline-block;}
label.label,button.button{user-select:none;}
label.label,label.tk-check-button,input.textbox,input.checkbox,input.password,input.datebox,input.timebox,input.datetimebox,input.yearbox,input.monthbox,input.weekbox,input.numberbox,input.rangewidget,input.colorbox,input.emailbox,input.telephonebox,input.urlbox,input.searchbox,select.select,button.button,a.link,textarea.textarea{font-size:1rem;margin:0.25em 1em 0.25em 0;line-height:1.325rem;}
label.tk-check-button{display:inline-block;padding:1px 0.25rem;user-select:none;}
label.tk-check-button>input{display:none;}
select.select{overflow:auto;}
label.label:last-child,label.tk-check-button:last-child,input.textbox:last-child,input.checkbox:last-child,input.password:last-child,,input.datebox:last-child,input.timebox:last-child,input.datetimebox:last-child,input.monthbox:last-child,input.weekbox:last-child,input.numberbox:last-child,input.rangewidget:last-child,input.colorbox:last-child,input.emailbox:last-child,input.telephonebox:last-child,input.urlbox:last-child,input.searchbox:last-child,select.select:last-child,button.button:last-child,a.link:last-child{margin-right:0;}
div.caption{font-size:0.7rem;line-height:0.7rem;}
hr.hr{border:none;background-color:#ddd;height:0.25rem;border-radius:0.25rem;}
.heading[tk-has-icon=true][tk-has-text=true]>span.icons,button.button[tk-has-icon=true][tk-has-text=true]>span.icons,.label[tk-has-icon=true][tk-has-text=true]>span.icons{margin-right:0.25rem;}
input.textbox,input.password,input.datebox,input.timebox,input.datetimebox,input.monthbox,input.weekbox,input.numberbox,input.rangewidget,input.emailbox,input.telephonebox,input.urlbox,input.searchbox,textarea.textarea{width:auto;box-sizing:border-box;}
textarea.textarea{margin-right:0;display:block;width:100%;min-height:1.55rem;min-width:100%;line-height:1.75rem;}
input.rangewidget,meter.meter,progress.progress{width:173px;height:1.575rem;accent-color:#000;}
input.searchbox{min-width:30ch;padding-left:0.5rem;padding-right:0.5rem;border-radius:1rem;border:1px solid;}
input.colorbox{width:1.575rem;height:1.575rem;box-sizing:border-box;}
select.select{padding-top:0.163rem;padding-bottom:0.163rem;}
input[type=file]::file-selector-button{width:100%;}

button.button{border:none;border-radius:0.25rem;background-color:#dedede;line-height:1.55rem;}
button.button:hover{background-color:#e5e5e5;}
button.button:active{background-color:#ababab;}

label.tk-check-button{border:none;border-radius:0.25rem;background-color:#dedede;line-height:1.55rem;}
label.tk-check-button:hover{background-color:#e5e5e5;}
label.tk-check-button:active{background-color:#ababab;}
label.tk-check-button:has(input:checked){background-color:#008dc7;color:#fff;}

button.tk-button-primary{background-color:#00618a;color:white;}
button.tk-button-primary:hover{background-color:#0077a9;}
button.tk-button-primary:active{background-color:#00364c;}

button.tk-button-success{background-color:#109f5d;color:#fff;}
button.tk-button-success:hover{background-color:#0fb869;color:#fff;}
button.tk-button-success:active{background-color:#0f5233;color:#fff;}

button.tk-button-info{background-color:#48c9d6;color:#fff;}
button.tk-button-info:hover{background-color:#51e0ee;color:#fff;}
button.tk-button-info:active{background-color:#3ca0aa;color:#fff;}

button.tk-button-warning{background-color:#ffa307;color:#fff;}
button.tk-button-warning:hover{background-color:#fbc56a;color:#fff;}
button.tk-button-warning:active{background-color:#b37408;color:#fff;}

button.tk-button-error{background-color:#e63e4e;color:#fff;}
button.tk-button-error:hover{background-color:#ff3d51;color:#fff;}
button.tk-button-error:active{background-color:#993d46;color:#fff;}

ul.multiple-choice{padding:0;margin:0;}
ul.multiple-choice>li.tk-mc-item{display:block;}
ul.tk-mc-inline{display:inline-block;margin-right:1rem;}
ul.tk-mc-inline>li.tk-mc-item{display:inline-block;}
li.tk-mc-item{display:block;}
input.tk-mc-checkbox{margin-right:0.5rem;}
label.tk-mc-label{margin-right:1rem;}
ul.multiple-choice>li>label>img{border:5px solid transparent;}
ul.single-choice>li>label>img{border:2px solid transparent;}
ul.multiple-choice>li.tk-hide-input>input.tk-mc-checkbox,ul.single-choice>li.tk-hide-input>input.tk-sc-radio{display:none;}

ul.single-choice{padding:0;margin:0;}
ul.single-choice>li.tk-sc-item{display:block;}
ul.tk-sc-inline{display:inline-block;margin-right:1rem;}
ul.tk-sc-inline>li.tk-sc-item{display:inline-block;}
input.tk-sc-radio{margin-right:0.5rem;}
label.tk-sc-label{display:inline-block;margin-left:0;}

ul.tk-sc-tabs{padding-top:0.5rem;padding-left:0.5rem;}
ul.tk-sc-tabs>li.tk-sc-item{position:relative;display:inline-block;background-color:#f5f5f5;border:1px solid #000;border-top-left-radius:6px;border-top-right-radius:6px;margin-left:-0.5rem;margin-top:-0.5rem;}
ul.tk-sc-tabs>li.tk-sc-item>input{display:none;}
ul.tk-sc-tabs>li.tk-sc-item>label{padding:0.25rem 1rem;}
ul.tk-sc-tabs>li.tk-sc-item:hover{background-color:#fff;color:#000;}
ul.tk-sc-tabs>li.tk-selected{z-index:1;background-color:#003146!important;color:#fff!important;}

table.table{background-color:transparent;border-collapse:collapse;border-spacing:0;width:100%;}
table.table>thead>tr>th,table.table>tbody>tr>td,table.table>tfoot>tr>td{padding:0.5rem 1rem;}
table.table>tbody>tr>td{border-bottom:1px solid #ddd;}
table.table>tbody>tr:first-child>td{border-top:1px solid #ddd;}
table.table>thead>tr>th{border-top:1px solid #ddd;text-align:left;}
table.table>tfoot.table-footer{border-top:5px double #ddd;}
table.table>tfoot.table-footer{}

caption.table-caption{}
caption{border-bottom:1px solid black;}
caption.table-caption-bottom{caption-side:bottom;border-top:1px solid black;border-bottom:none;}
tr.tk-row-header{}
td.tk-row-header-cell{font-weight:bold;}
table.table>tbody.tk-row-headers{}

a.tk-ordering-control{text-decoration:none;}
a.tk-ordering-control-ascending::after{content:'\25b2';color:#000;margin:0 0.5rem;font-size:0.5rem;}
a.tk-ordering-control-descending::after{content:'\25bc';color:#000;margin:0 0.5rem;font-size:0.5rem;}
a.tk-field-action{display:inline-block;whitespace:nowrap;color:green;}
td.tk-boolean{text-align:center;}
td.tk-number{text-align:right;}
td.tk-date{text-align:left;}
td.tk-string{text-align:left;}
td.tk-url{text-align:left;}
label{padding-top:2px;line-height:1.55rem;}
select{padding-top:1.6px;padding-bottom:1.6px;}
div.page{display:none;height:100%;padding:1rem;height:100%;box-sizing:border-box;}
div.tk-page-inner{display:block;box-sizing:border-box;}
div.tk-page-has-header{}
div.tk-page-has-footer{}
div.tk-page-has-nav-left{}
div.tk-page-has-nav-right{}
div.tk-dlg-outer.tk-page-active{z-index:2000;}
div.tk-sb-outer.tk-page-active{z-index:2000;}
div.grid{display:grid;width:100%;box-sizing:border-box;}
.grid-cell{margin:0!important;}
.grid-column-first{}
.grid-column-last{}
.grid-row-first{}
.grid-row-last{}
div.grid.tk-bordered{border:1px solid #ddd;}

div.panel{position:relative;display:block;box-sizing:border-box;margin-top:0;margin-bottom:0;}
div.overlay{display:block;box-sizing:border-box:margin:0;padding:0;position:absolute;z-index:1;top:0;left:0;right:0;bottom:0;transition:background-color 0.5s;}
div.single-row{display:table;width:auto;box-sizing:border-box;margin:0;white-space:nowrap;padding-right: 0.25rem;}
div.single-row-cell{display:table-cell;width:auto;white-space:normal;padding:0.25rem 0 0.25rem 0.25rem;}
div.tk-panel-toolbar>*:first-child{margin-left:1rem;}
div.tk-panel-toolbar>div.single-row-cell>*{margin:0;}

div.tk-panel-page-header{position:fixed;top:0;left:0;right:0;overflow:visible;margin:0;padding:0.55rem 1rem;min-height:1rem;background-color:#003146;color:#fff;z-index:10;}
div.tk-panel-page-header>*{margin-top:0;margin-bottom:0;}
div.tk-panel-page-footer{position:fixed;bottom:0;left:0;right:0;overflow:visible;margin:0;padding:0.55rem 1rem;min-height:1rem;background-color:#003146;color:#fff;z-index:10;}
div.tk-panel-page-footer>*{margin-top:0;margin-bottom:0;}
div.tk-panel-nav-left{position:fixed;top:1rem;left:1rem;bottom:1rem;overflow:auto;margin:0;padding:0;min-width:1rem;background-color:#f5f5f5;color:#000;z-index:9;}
div.tk-panel-nav-right{position:fixed;top:1rem;right:1rem;bottom:1rem;overflow:auto;margin:0;padding:0;min-width:1rem;background-color:#f5f5f5;color:#000;z-index:9;}

div.tk-panel-fixed{overflow:auto;}
div.tk-panel-banner{padding:1rem;margin-bottom:1rem;background-color:#fff;color:#000;}
div.tk-panel-padded{padding:1rem;}
div.tk-panel-bordered{padding:0;border:1px solid black;box-sizing:content-box;}
div.tk-panel-toolbar{background-color:#dedede;}
div.tk-panel-tabpage{background-color:#fff;margin-top:-1px;border:1px solid #000;}
div.tk-panel-success{padding:1rem;background-color:#109f5d;color:#fff;}
div.tk-panel-info{padding:1rem;background-color:#48c9d6;color:#fff;}
div.tk-panel-warning{padding:1rem;background-color:#ffa307;color:#fff;}
div.tk-panel-error{padding:1rem;background-color:#e63e4e;color:#fff;}
div.tk-panel-group{display:inline-block;margin-top:4px;margin-bottom:4px;margin-right:0.75rem;padding:0;white-space:nowrap;background-color:#dfdfdf;padding-left:0.25rem;border-radius:0.25rem;margin-left:-0.25rem;}
div.tk-panel-group>*:last-child{margin-right:0.25rem;}
div.tk-position-top-left{display:inline-block;top:0;left:0;right:unset;bottom:unset;}
div.tk-position-top-right{display:inline-block;top:0;left:unset;right:0;bottom:unset;}
div.tk-position-bottom-left{display:inline-block;top:unset;left:0;right:unset;bottom:0;}
div.tk-position-bottom-right{display:inline-block;top:unset;left:unset;right:0;bottom:0;}
div.tk-dim-on-hover:hover{background-color:rgba(0,0,0,0.33);}
div.tk-show-on-hover>*{visibility:hidden;}
div.tk-show-on-hover:hover>*{visibility:initial;}

div.tk-dlg-outer{position:absolute;z-index:1000;left:0;top:0;right:0;bottom:0;}
div.tk-dlg-inner{display:block;position:absolute;box-sizing:border-box;padding:0;text-align:left;border-top:1px solid #fff;border-left:1px solid #fff;border-radius:0.5rem;background-color:#e9e9e9;box-shadow:5px 5px 10px 0px rgba(0,0,0,0.5);height:auto;max-height:62%;max-width:62%;overflow:auto;}
div.tk-dlg-top-left{display:block;position:absolute;top:1rem;left:1rem;right:auto;bottom:auto;}
div.tk-dlg-top-right{display:block;position:absolute;top:1rem;left:auto;right:1rem;bottom:auto;}
div.tk-dlg-bottom-left{display:block;position:absolute;top:auto;left:1rem;right:auto;bottom:1rem;}
div.tk-dlg-bottom-right{display:block;position:absolute;top:auto;left:auto;right:1rem;bottom:1rem;}
div.tk-dlg-outer-center{text-align:initial;vertical-align:initial;}
div.tk-dlg-inner-middle{position:relative;display:inline-block;top:50%;left:50%;transform:translate(-50%,-50%);}

div.tk-dlg-inner>.tk-panel-banner{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-success{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-info{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-warning{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-error{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-padded{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-bordered{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-toolbar{margin:0;border-top-left-radius:0.5rem;border-top-right-radius:0.5rem;padding-top:0.5rem;padding-bottom:0.5rem;}
div.tk-dlg-inner>.tk-panel-heading>*{margin:0;}
div.tk-dlg-inner>.tk-panel-footer>*{margin:0;}
div.tk-dlg-inner>.tk-panel-success>*{margin:0;}
div.tk-dlg-inner>.tk-panel-info>*{margin:0;}
div.tk-dlg-inner>.tk-panel-warning>*{margin:0;}
div.tk-dlg-inner>.tk-panel-error>*{margin:0;}
div.tk-dlg-inner>.tk-panel-banner>*{margin:0;}
div.tk-dlg-inner>.heading{font-size:1rem;padding:0;}
div.tk-dlg-inner>*>.heading{font-size:1rem;padding:0;}

div.tk-sb-outer{position:absolute;z-index:1000;padding:0;left:0;top:0;right:0;bottom:0;}
div.tk-sb-inner{display:block;position:absolute;box-sizing:border-box;padding:1rem;text-align:left;background-color:#f5f5f5;max-height:100%;overflow:auto;}
div.tk-sb-left{display:block;position:absolute;width:auto;height:100%;top:0;left:0;right:auto;bottom:auto;border-left:0;border-top:0;border-bottom:0;border-right:1px solid black;}
div.tk-sb-top{display:block;position:absolute;width:100%;height:auto;top:0;left:0;right:0;bottom:auto;border-left:0;border-right:0;border-top:0;border-bottom:1px solid black;}
div.tk-sb-right{display:block;position:absolute;width:auto;height:100%;top:0;left:auto;right:0;bottom:auto;border-top:0;border-bottom:0;border-right:0;border-left:1px solid black;}
div.tk-sb-bottom{display:block;position:absolute;width:100%;height:auto;top:auto;left:auto;right:auto;bottom:0;border-left:0;border-right:0;border-bottom:0;border-top:1px solid black;}

div.tk-page-active.tk-dlg-outer{background-color:rgba(255,255,255,0.5);backdrop-filter:blur(1.5px);}
div.tk-page-active.tk-sb-outer{background-color:rgba(255,255,255,0.5);backdrop-filter:blur(1.5px);}

div.single-row-cell>*:last-child{margin-right:0;}
div.tk-panel-tabpage>*:first-child{margin-top:0;}
div.tk-panel-tabpage>*:last-child{margin-bottom:0;}
div.tk-panel-tabpage>table.table>thead:first-child>tr>th{border-top:0;}
div.tk-panel-tabpage>table.table>thead>tr>th:first-child,div.tk-panel-tabpage>table.table>tbody>tr>td:first-child{border-left:0;}
div.tk-panel-tabpage>table.table>thead>tr>th:last-child,div.tk-panel-tabpage>table.table>tbody>tr>td:last-child{border-right:0;}
div.tk-panel-tabpage>table.table>tbody:last-child>tr:last-child>td{border-bottom:0;}


div.tk-inline-block{display:inline-block;}
div.tk-fit-content,table.tk-fit-content{width:auto;}
div.tk-fit-parent-width,table.tk-fit-parent-width,button.tk-fit-parent-width,label.tk-fit-parent-width,input.tk-fit-parent-width,select.tk-fit-parent-width{width:100%;margin-right:0;};
div.tk-rounded{border-radius:0.5rem;}
button.tk-hard,input.tk-hard,select.tk-hard{border:1px solid #000;border-radius:0;}
.tk-bordered{border:1px solid #000;}
.tk-fill-bg{background-color:#fff;color:initial;}
.tk-block{position:relative;display:block!important;margin:0;}
.tk-trans-bg{background-color:unset;}
.tk-float-right{display:inline-block;float:right;margin-right:0 !important;}
.tk-center{text-align:center;}
.tk-font-lg,label.tk-font-lg,input.tk-font-lg,select.tk-font-lg,button.tk-font-lg,a.tk-font-lg{font-size:1.25rem;line-height:2rem;}
.tk-font-sm,label.tk-font-sm,input.tk-font-sm,select.tk-font-sm,button.tk-font-sm,a.tk-font-sm{font-size:0.75rem;line-height:1rem;}


.tk-align-left{text-align:left !important;}
.tk-align-center{text-align:center !important;}
.tk-align-right{text-align:right !important;}
.tk-align-right>*{margin-right:0 !important;margin-left:1rem !important;}
.tk-align-top{vertical-align:top !important;}
.tk-align-middle{vertical-align:middle !important;}
.tk-align-bottom{vertical-align:bottom !important;}

.tk-square-false{display:inline-block;border:1px solid #000;width:0.5rem;height:0.5rem;}
.tk-square-true{display:inline-block;border:1px solid #000;width:0.5rem;height:0.5rem;background-color:#000;}
.tk-circle-false{display:inline-block;border:1px solid #000;width:0.5rem;height:0.5rem;border-radius:0.5rem;}
.tk-circle-true{display:inline-block;border:1px solid #000;width:0.5rem;height:0.5rem;border-radius:0.5rem;background-color:#000;}

div.message{position:relative;display:inline-block;}
.message-container{text-align:center;}

.spinner-container{text-align:center;}
div.spinner{display:inline-block;border:3px solid #008dc7;border-radius:50%;border-top:3px solid transparent;width:24px;height:24px;-webkit-animation:spin 1s linear infinite;animation:spin 1s linear infinite;}
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

dialog.dialog{background-color:#fff;color:#000;border:1px solid #000;border-radius:7px;}

div.tk-selectable,label.tk-selected,a.tk-selected,img.tk-selectable.button.tk-selectable,input.tk-selectable,textarea.tk-selectable{border:5px solid transparent;border-radius:7px;}
div.tk-selected,label.tk-selected,a.tk-selected,img.tk-selected,button.tk-selected,input.tk-selected,textarea.tk-selected{border:5px solid #65b2ff;}